HW*/*

# code files
!*.cpp
!*.py
!*.Rmd
!*.ipynb

# data
!*/data
!*.csv

# overview docs
!*/HW*_Overview.pdf

# misc
!.gitignore
!README.md
!HW0/Overview_of_ML.pdf
!HW2/Classification.pdf
!HW2/Regression.pdf