.vscode
HW*/*

# code files
!*.cpp
!*.py
!*.Rmd
!*.ipynb

# data
!*/data
!*.csv

# overview docs
!*/HW*.pdf

# misc includes
!.gitignore
!README.md

!HW0/Overview_of_ML.pdf

!HW2/Classification.pdf
!HW2/Regression.pdf

!HW4/Regression.pdf
!HW4/Classification.pdf
!HW4/Clustering.pdf
!HW4/Dimensionality_Reduction.pdf

!HW5/Regression.pdf
!HW5/Classification.pdf
!HW5/Ensemble.pdf

# misc ignores
HW7/data/BIRDS-450-(200 X 200)-99.28.h5